@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
:root{
  --azulito: #062956;
  --rojito: #D0210C;
  --blanquito: #efeded;
  --beige: #F3ECE2;
  --grisito: #B1B6BD;
  --grisito2:#DEDEDE;
  --negro: #000000;
}
.caja_modal {
  position: fixed;
  background-color: #0000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  padding-top: -100px;
}
.caja_modal_contenido {
  width: 800px;
  position: relative;
  margin: 70px auto;
  background-color: var(--azulito);
  animation-name: mostrarup_down;
  animation-duration: .5s;

}
.modal_cabecera {
  width: 100%;
  background-color: var(--rojito);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
}

.form-container{
  background-color: #fff;
  border-radius:5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  max-width: 350px;
  margin: 10px auto;
}

.my-form{
  padding: 35px 40px;
}

.form-control{
  margin-bottom: 13px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{
  color:#777;
  display: block;
  margin-bottom: 2px; 
  font-family: var(--lato-font-text);
  font-weight:400;
}

.form-control input[type="text"],[type="password"]{
  border: 2px solid #606C5D;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px; 
  margin-bottom:8px;  
}

.form-control input:focus{
  outline: 0;
  border-color: #777;

}
/* small color */
.form-control.success input {
  border-color: var(--succes-color);
}
.form-control.error input {
  border-color: var(--error-color);    
}

.form-control small{
  color: var(--error-color);
  position: absolute;
  bottom: -2%;
  left: 0;
  /* vuelve invisible un elemento */
  visibility: hidden; 
  font-family: var(--lato-font-text);
  font-weight:300px;
}

.form-control.error small{
  visibility: visible;
}

.btn-submit{
  width: 100%;
  margin-top:20px;
  padding: .4em .5em;
  display:block;
  border-radius:4px;
  font-size:1.1rem;
  background-color: var(--color-blueDark);
  color: #fff;
}

.modal_cabecera h2{
  font-family: 'Indie Flower', cursive;
  color: white;
  font-weight: bold;
}
.btnCerrarModal {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azulito);
}
.btnCerrarModal i {
  color: #fff;
  font-size: 20px;
}

/* animacion modal */
/* @keyframes mostrarup_down{
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
} */
/* animacion modal */